/* ===============================
Common CSS
================================== */
*,*::after, *::before{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    color: #000000;
    font-size: 16px;
    font-family: Georgia;
    line-height: 1.5em;
}
.container{
    margin: 0 auto;
    max-width: 960px;
    width: 96%;
}
img{
    width: 100%;
    height: auto;
}
/* ==============================
Top Header CSS
================================= */
.header_area{
    width: 100%;
    clear: both;
}
#top_header_area{
    border-top: 3px solid #81b300;
}
.social_area{
    float: right;
    margin-top: -16px;
    margin-bottom: -20px;
}
.social_area ul{
    list-style: none;
    text-align: center;
    background: #81b300;
    float: right;
    padding: 8px 15px 8px 0px;
    border-radius: 0px 0px 10px 10px;
}
.social_area ul li{
    display: inline-block;
    margin-left: 10px;
}
.social_area ul li a{
    display: block;
    text-decoration: none;
}
.social_area ul li a i{
    width: 25px;
    height: 25px;
    color: #ffffff;
    padding-top: 5px;
    display: block;
    text-align: center;
    background: #1f1f1f;
    border-radius: 50%;
    text-decoration: none;
    transition: 0.5s;
}
.social_area ul li a:hover i.fa-linkedin-in{
    background: #4C8CCF;
}
.social_area ul li a:hover i.fa-twitter{
    background: #00A3F7;
}
.social_area ul li a:hover i.fa-pinterest{
    background: #AF363B;
}
.social_area ul li a:hover i.fa-google-plus{
    background: #E23E39;
}
.social_area ul li a:hover i.fa-rss{
    background: #ee802f;
}
/* ==============================
Main Header CSS
================================= */
#main_header_area{
    width: 100%;
    clear: both;
}
.inner_header_area{
    overflow: hidden;
}
.logo_area{
    width: 250px;
    float: left;
}
.mini_menu{
    float: right;
    width: 70%;
}
.mini_menu ul{
    padding: 0;
    margin-top: 30px;
    list-style: none;
    text-align: right;
}
.mini_menu ul li{
    margin-left: 7px;
    position: relative;
    display: inline-block;
}
.mini_menu ul li::after{
    content: "";
    width: 1px;
    height: 12px;
    top: 6px;
    right: -6px;
    background: #81b300;
    position: absolute;
}
.mini_menu ul li:last-child::after{
    display: none;
}
.mini_menu ul li a{
    font-size: 14px;
    color: #81b300;
    transition: 0.5s;
    text-decoration: none;
}
.mini_menu ul li a:hover{
    color: #000000;
}
/* ==============================
Main Menu CSS
================================= */
#main_menu{
    width: 100%;
    clear: both;
    padding: 20px 0;   
    background: #81b300;
}
.menu_area{
    min-height: 30px;
}
.inner_menu{
    width: 70%;
    float: left;
    margin-top: 5px;
}
.inner_menu ul{
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: left;
}
.inner_menu ul li{
    position: relative;
    margin-right: 10px;
    display: inline-block;
}
.inner_menu ul li a{
    display: block;
    font-size: 14px;
    color: #ffffff;
    transition: 0.5s;
    text-decoration: none;
}
.inner_menu ul li a:hover{
    color: #000000;
}
.inner_menu ul li:hover a{
    color: #000000;
}
.inner_menu ul li:hover ul li a{
    color: #ffffff;
}
/* Drop Down Style */
.inner_menu ul ul{
    width: 150px;
    left: -999999px;
    top: 24px;
    color: #ffffff;
    position: absolute;
    background: #000000;
}
.inner_menu ul li:hover ul{
    left: 0;
    z-index: 100;
}
.inner_menu ul li:hover ul ul{
    left: -999999px;
}
.inner_menu ul li ul li:hover ul{
    left: 150px;
}
.inner_menu ul ul ul{
    top: 0;
    left: 150px;
}
.inner_menu ul ul li{
    margin-right: 0;
    display: block;
    text-align: center;
}
.inner_menu ul ul li a:hover {
    color: #ffffff;
    background: #81b300;
}
.inner_menu ul ul li:hover a {
    color: #ffffff;
    background: #81b300;
}
.inner_menu ul ul li:hover ul li a{
    color: #ffffff;
    background: none;
}
.inner_menu ul ul li ul li a:hover {
    color: #ffffff;
    background: #81b300;
}
/* Search Area CSS */
.search_area{
    width: 30%;
    float: right;
    overflow: hidden;
}
.search_area form{
    width: 100%;
    float: right;
}
.search_area input{
    width: 75%;
    float: left;
    color: #000000;
    padding: 8px;
}
.search_area input[type="submit"]{
    width: 25%;
    cursor: pointer;
    color: #81b300;
    transition: 0.5s;
    background: #ffffff;
}
.search_area input[type="submit"]:hover{
    color: #000000;
}
/* ==============================
Slider Area CSS
================================= */
#slider_area{
    background: #f2f2f2;
    padding: 30px 0;
}
/* ==============================
Hero Area CSS
================================= */
#hero_area{
    width: 100%;
    clear: both;
    margin-bottom: 50px;
}
.inner_hero{
    overflow: hidden;
}
.service_area{
    width: 24%;
    float: left;
    margin-right: 12px;
}
.service_area:last-child{
    margin-right: 0;
}
.service_img{
    text-align: center;
}
.service_img a i{
    font-size: 60px;
    padding: 50px 0 5px 0;
}
.service_img a i.fas.fa-users{
    color: #c45f4b;
}
.service_img a i.fas.fa-globe-asia{
    color: #cf9d41;
}
.service_img a i.fas.fa-cogs{
    color: #3d5f12;
}
.service_img a i.fas.fa-leaf{
    color: #7da3b7;
}
.service_text{
    
}
.service_text h2{
    font-size: 18px;
    color: #81b300;
    text-align: center;
}
.service_text p{
    font-size: 14px;
    color: #888888;
    text-align: center;
}
/* ==============================
Project Area CSS
================================= */
#project_area{
    width: 100%;
    clear: both;
    margin-top: 45px;
}
.inner_project{
    overflow: hidden;
}
.project{
    width: 24%;
    float: left;
    margin-right: 8px;
    margin-bottom: 50px;
}
}
.project_img{

}
.project_text h3{
    color: #444444;
    font-size: 14PX;
    font-weight: normal;
}
.project_text p{
    color: #878787;
    font-size: 14px;
}
.project_text a{
    float: right;
    color: #81b300;
    font-size: 14px;
    font-weight: normal;
    text-decoration: none;
}
/* ==============================
Footer Area CSS
================================= */
#footer_area{
    width: 100%;
    clear: both;
    background: #3b3b3b;
}
.inner_footer{
    overflow: hidden;
}
.chaild_footer{
    width: 24%;
    float: left;
    margin-right: 8px;
}
.chaild_footer h3{
    color: #666666;
    font-size: 16px;
    font-weight: normal;

}
.chaild_footer h4{
    color: #999999;
    margin-bottom: 0;
    font-size: 16px;
    font-weight: normal;
    padding-top: 10px;
}
.chaild_footer p{
    color: #999999;
    font-size: 14px;
    font-weight: normal;
    float: left;
}
.chaild_footer span{
    color: #999999;
    font-size: 14px;
    font-weight: normal;
    display: inline-block;
}
.chaild_footer a{
    color: #999999;
    text-decoration: none;
}
.chaild_footer ul{
    padding: 0;
    list-style: none;
    padding-top: 10px;
}
.chaild_footer ul li{
    padding: 5px;
    border-bottom: 0.3px solid #999999;
}
.inner_chaild p {
	margin-top: 0;
}

.chaild_footer form {
	padding-top: 15px;
}
.inner_chaild a {
	float: right;
	color: #81b300;
}
.chaild_footer input{
    width: 100%;
    background: #1f1f1f;
    color: #999999;
    padding: 12px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 0px solid;
}
.chaild_footer input[type=submit]{
    width: 80px;
    color: #81b300;
    cursor: pointer;

}
/* ==============================
Copyright Area CSS
================================= */
#copyright_area{
    width: 100%;
    clear: both;
    margin: 0;
    padding: 0;
    background: #2e2e2e;
}
.inner_copyright_area{
    overflow: hidden;
}
.left_copyright{
    float: left;
    color: #737373;
    font-size: 14px;
    font-weight: normal;
}
.right_copyright{
    float: right;
    color: #737373;
    font-size: 14px;
    font-weight: normal;
}
